.list {
  margin: 1rem 0;
  padding: 0;
  list-style: none;

  &--sites {
    display: flex;
    flex-flow: column;
    gap: .5rem;

    .list--item {
      display: flex;
      align-items: center;
      padding: .5rem;
      background-color: white;
      border-radius: 3px;
      box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;

      a:first-of-type {
        margin-right: auto; // URL uz kreiso malu
      }
    }
  }
}